# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IntelliJ related
*.iml
.idea/
*.ipr
*.iws

# VS Code related
.vscode/

# macOS related
.DS_Store

# Android related
/android/.gradle/
/android/captures/
/android/.idea/
/android/local.properties
/android/app/debug
/android/app/release

# iOS related
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock
/ios/.dart_tool/
/ios/Flutter/.last_build_id

# Xcode related
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad
*.moved-aside
DerivedData/

# Web-related
/web/.dart_tool/
/web/.idea/
/web/.vscode/

# Linux-related
/linux/flutter/ephemeral/
/linux/CMakeFiles/
/linux/CMakeCache.txt
/linux/Makefile
/linux/cmake_install.cmake

# Windows-related
/windows/flutter/ephemeral/
/windows/.vs/
/windows/CMakeFiles/
/windows/CMakeCache.txt
/windows/Makefile
/windows/cmake_install.cmake

# Plugin project-specific
example/.packages
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.dart_tool/
example/build/
example/pubspec.lock

# Ignore root-level assets folder
/assets/

